<header class="header">
  <div class="container-fluid">
    <div class="row">
      <!-- <div>
        <button type="button" class="btn btn-warning">
          <i class="fa fa-bars icon" aria-hidden="true"></i>
        </button>
      </div> -->
      <div class="col-lg-1 text-end">
        <img [src]="imgLogo" [alt]="imgLogoName" class="imgs" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-self-center text-start">
        <span class="head_title">
          <strong>Learning Management System</strong>
        </span>
      </div>
      <div class="col-lg-6 align-self-center text-end">
        <span class="head_name"
          >Welcome<strong> Teacher</strong>
        </span>
      </div>
      <div class="col-lg-1 align-self-center text-end">
        <button class="btn btn-outline-danger btn-lg" (click)="logOut()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>
