.box {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box .card {
  padding: 1.875rem;
  /* background-color: #ecf9d6; */
  background-color: #fff;
}
.bg {
  background-color: bisque;
}
.imgs {
  max-height: 15.625rem;
}

.bt button {
  width: 100%;
  background-color: 
#78ba58;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.bt button:hover {
  background-color: transparent;
  color: 
#78ba58;
  box-shadow: inset 0 0 0 2px 
#78ba58;
}
