<div class="container">
  <H2 class="head">RECORDED SESSIONS</H2>
  <br>
  
  <div class="row">
    <div class="col-sm-4">
      <!-- 16:9 -->
      <h4>Session 1</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P3KtHDac1MY"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 2</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Y57pvwyTRTs"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 3</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/hIYCIeQnsNg"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 4</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/IsX_CU7EVWc"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 5</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/hGAEg0HdB0E"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 6</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/q90kuSEdyhs"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 7</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/INqSLkIv9HM"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 8</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/R0EMQshndC8"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- 4:3 -->
      <h4>Session 9</h4>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zB4I68XVPzQ"></iframe>
      </div>
    </div>
  
  </div>
</div>