<div
  class="
    side-navbar
    active-nav
    d-flex
    justify-content-between
    flex-wrap flex-column
  "
  id="sidebar"
>
  <ul class="nav flex-column text-white w-100">
    <li class="nav-link" routerLink="/admindashboard/dashboard">
      <i class="fa fa-home icn" aria-hidden="true"></i>
      <span class="mx-2">Dashboard</span>
    </li>
    <li class="nav-link" routerLink="/admindashboard/planner">
      <i class="fa fa-book icn" aria-hidden="true"></i>
      <span class="mx-2">Planner</span>
    </li>
    <li class="nav-link" routerLink="/admindashboard/schedule">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <span class="mx-2">Class</span>
    </li>
      <li class="nav-link" routerLink="/admindashboard/progress">
     <i class="fa fa-check" aria-hidden="true"></i>
      <span class="mx-2">Progress Report</span>
    </li>
    <li class="nav-link" routerLink="/admindashboard/courses">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
       <span class="mx-2">Courses</span>
     </li>
  </ul>
</div>
